{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
    <body>
        <h1>{{title}}</h1>
        <form action ="/newpost" method='post'>
            <label>Blog Title:
                <input name="blog-title" type="text" />
                    <span class="error">{{ blank_blog_title_error }}</span>
            </label>
            <br>
            <label>
            <textarea name="blog-post"></textarea>
                <span class="error">{{ blank_blog_error }}</span>
            <input type="submit" value='Add Entry' />
            </label>
        </form>
        <hr />
    </body>    
</html>

{% endblock %}